* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(234,162,250);
    background: linear-gradient(90deg, #c987d4, #f19ec2);
}

.insert {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 425px;
    height: 375px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 40px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username,
.senha {
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    width: 57px;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 282px;
}

#email,
#password {
    background-color: rgb(247, 247, 247);
    padding: 7px;
    height: 35px;
    width: 350px;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 15px;
}

.senha {
    margin-top: 25px;
}

.enter {
    font-size: 20px;
    font-weight: bold;
    color: rgb(238, 236, 236);
    background-color: rebeccapurple;
    margin-top: 30px;
    height: 40px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
}